{% load static %}
<div class="event-block" style="background: url({{ avatar }}) no-repeat; background-size: cover;">
	<div class="event-block-shadow">
		<div class="description-event">
			<ul>
                {% for category in event.category.all %}
                    <li>&#8226;</li>
                    <li>{{ category }}</li>
                {% endfor %}
			</ul>
			<div class="event-description-title">
				<h1>{{ event.name }}</h1>
			</div>
			<div class="event-concert-description-quests">{{ event.description }}</div>
{#			<div class="event-concert-description-tags">#}
{#					<a  href="#">Концерт в Москве</a>#}
{#					<span>&#8226;</span>#}
{#					<a  href="#">ВТБ Арена парк</a>#}
{#			</div>#}
		</div>
	</div>
</div>