<div class="event-block">
	<div class="event-block-shadow">
		<div class="description-event">
			<ul>
				<li>Концерт</li>
				 <li>&#8226;</li>
				<li>поп</li>
				 <li>&#8226;</li>
				<li>12+</li>
			</ul>
			<div class="event-description-title">
				<h1>Новое Радио Awards</h1>
			</div>
			<div class="event-concert-description-quests">Баста, Руки Вверх, Little Big</div>
			<div class="event-concert-description-tags">
					<a  href="#">Концерт в Москве</a>
					<span>&#8226;</span>
					<a  href="#">ВТБ Арена парк</a>
			</div>
		</div>
	</div>
</div>