{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}

    <div class="registration-header">
        <a href={% url 'main:index' %}><img class="login-logo-img" src="{% static 'img/yandex_logo.png' %}" alt="logo"></a>
        <h1 class="login-title">Войдите, чтобы продолжить</h1>
    </div>
    <form class="registration-form" action="{% url 'auth:login' %}" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
        {% endif %}
        {{ login_form.as_p }}
        <!--
        <input type="text" class="registration-form-input" placeholder="Введите логин, почту или телефон">
        <input type="password" class="registration-form-input" placeholder="Пароль">
        -->
        <input class="registration-button" type="submit" value="Войти">
    </form>
    <div class="login-social-block">
        <h3 class="login-social-title">Войти с&nbsp;помощью соцсетей</h3>
        <div class="login-social-icons">
            <div>
                <a href="#" class="login-social-link login-social-link-margin social-color-vk" target="_blank">
                        <i class="fab fa-vk fa-2x"></i>
                </a>
            </div>
            <div>
                <a href="#" class="login-social-link social-color-facebook" target="_blank">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
            </div>
            <div>
                <a href="#" class="login-social-link social-color-google" target="_blank">
                    <i class="fab fa-google fa-2x"></i>
                </a>
            </div>
            <div>
                <a href="#" class="login-social-link social-color-telegram" target="_blank">
                    <i class="fab fa-telegram-plane fa-2x"></i>
                </a>
            </div>
            <div>
                <a href="#" class="login-social-link social-color-ok" target="_blank">
                        <i class="fab fa-odnoklassniki fa-2x"></i>
                </a>
            </div>
            <div>
                <a href="#" class="login-social-link social-color-twitter" target="_blank">
                        <i class="fab fa-twitter fa-2x"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}