<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>
		IamGO / {{ page_title|default:"страница"|title }}
	</title>
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />
	{% block css %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
              crossorigin="anonymous">
	{% endblock %}
	{% block js %}
	{% endblock %}
</head>

<body>
        <div class="wrapper-head">
            <div class="header wrapper">
                    <a href="{% url 'main:index' %}"><img class="logo-img" src="{% static 'img/1280px-Yandex_afisha.png' %}" alt="logo"></a>
                    <form>
                        <p><input type="search" name="q" placeholder="События, артисры и места"> 
                        <img class="search" src="{% static 'img/search.png' %}" alt="search">
                    </form> 
                    <a class="city" href="#"><img class="marker-img" src="{% static 'img/mapmarker.png' %}" alt="place">Москва</a> 
                    <a class="login" href="#">Войти</a>          
            </div>
			{% include 'mainapp/includes/inc_main_menu.html' %}
		</div>
		{% block event-block %}
		{% endblock %}
        <div class="container wrapper">
		
		{% block container %}
		{% endblock %}
		
		</div>
		{% block footer %}
        <div class="footer">
            <div class="content">
                <div class="footer-wraper page-content">
                    <div class="footer-subscribe">
                        <p class="footer-subscribe-label">Подпишитесь на акции <br> и анонсы событий</p>
                        <form class="footer-subscribe-form">
                            <input type="email" class="subscribe-email" id="email"
                                   placeholder="Электронная почта">
                            <input class="subscribe-btn" type="submit" value="Далее">
                        </form>
                    </div>
                    <hr class="footer-side">
                    <div class="footer-main">
                        <div class="footer-main-block">
                            <p class="footer-menu-title">Я ИДУ</p>
                            <ul class="footer-menu">
                                <li class="footer-menu-item"><a href="#" class="footer-link">О проекте</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Помощь</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Пользовательское соглашение</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Подарочные сертификаты</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Билеты в подарок</a></li>
                            </ul>
                        </div>
                        <div class="footer-main-block">
                            <p class="footer-menu-title">Партнёрам и организаторам</p>
                            <ul class="footer-menu">
                                <li class="footer-menu-item"><a href="#" class="footer-link">Инфорпартнёры</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Как стать инфопартнером</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Билетным партнерам</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Организаторам</a></li>
                                <li class="footer-menu-item"><a href="#" class="footer-link">Корпоративным клиентам</a></li>
                            </ul>
                        </div>
                        <div class="footer-main-block">
                            <div class="footer-socials">
                                <a href="#" class="social-btn social-fb" target="_blank"><i class="fab fa-facebook-f fa-2x"></i></a>
                                <a href="#" class="social-btn social-vk" target="_blank"><i class="fab fa-vk fa-2x"></i></a>
                                <p class="footer-block-label">Подписывайтесь на Я ИДУ <br> в социальных сетях</p>
                            </div>
                        </div>
                        <div class="footer-main-block">
                            <div class="footer-apps">
                                <a href="#" class="footer-app-link"></a>
                                <a href="#" class="app-btn"><img src="{% static 'img/app-store.svg' %}" alt="app-store"></a>
                                <p class="footer-block-label">Скачайте приложение <br> Я ИДУ</p>
                            </div>
                        </div>
                    </div>
                    <hr class="footer-side">
                    <div class="footer-info">
                        <div class="footer-info-block">
                            <p class="footer-info-title">&#169; 2019 «Я ИДУ»</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{% endblock %}
    
</body>

</html>
