{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
	<div class="header-bunner"><a href="#"></a></div>
	<div class="page-content" >
		<h1 class="page-title first-title">Афиша событий в Москве</h1>
		<div>
			<ul class="menu-date">
				<li><a href="#">Дата</a></li>
				<li><a href="#">Сегодня</a></li>
				<li><a href="#">Завтра</a></li>
				<li><a href="#">На выходных</a></li>
			</ul>
		</div>
		<div class="slide-show">
			<div class="slide"><a href="#"><img src="{% static 'img/bunners/s940x380.webp' %}" alt="slide"></a>
				<a href="#"><img class="slide-button-foword slide-button" src="{% static 'img/next-button.svg' %}" alt="foword"></a>
				<a href="#"><img class="slide-button-next slide-button" src="{% static 'img/next-button.svg' %}" alt="next"></a>
			</div>
		</div>
		<div class="event-category">
			<h1 class="page-title">События в ближайшие дни</h1>
			<a href="{% url 'main:events' %}">
				<h2 class="view-all" >Смотреть все ></h2>
			</a>
		</div>
		<div class="nearest">
			<div>
				<a href="{% url 'main:product' 290 %}"><img src="{% static 'img/s372x223_lelingrad.webp' %}" alt="bunner1"></a>
				<h2>Ленинград</h2>
				<ul >
					<li><a href="#">14 июня</a></li>
					<li><a href="#">Открытие Арена</a></li>
				</ul>
			</div>
			<div>
				<a href="{% url 'main:product' 290 %}"><img src="{% static 'img/s372x223_lelingrad.webp' %}" alt="bunner1"></a>
				<h2>Ленинград</h2>
				<ul >
					<li><a href="#">14 июня</a></li>
					<li><a href="#">Открытие Арена</a></li>
				</ul>
			</div>
			<div>
				<a href="{% url 'main:product' 290 %}"><img src="{% static 'img/s372x223_lelingrad.webp' %}" alt="bunner1"></a>
				<h2>Ленинград</h2>
				<ul >
					<li><a href="#">14 июня</a></li>
					<li><a href="#">Открытие Арена</a></li>
				</ul>
			</div>
		</div>
		<div class="event-category">
			<h1 class="page-title">Самые ожидаемые концерты</h1>
			<a href="{% url 'main:events' %}">
				<h2 class="view-all" >Смотреть все ></h2>
			</a>
		</div>
		<div class="nearest">
			<div>
				<a href="{% url 'main:product' 290 %}"><img src="{% static 'img/s372x223_lelingrad.webp' %}" alt="bunner1"></a>
				<h2>Ленинград</h2>
				<ul >
					<li><a href="#">14 июня</a></li>
					<li><a href="#">Открытие Арена</a></li>
				</ul>
			</div>
			<div>
				<a href="{% url 'main:product' 290 %}"><img src="{% static 'img/s372x223_lelingrad.webp' %}" alt="bunner1"></a>
				<h2>Ленинград</h2>
				<ul >
					<li><a href="#">14 июня</a></li>
					<li><a href="#">Открытие Арена</a></li>
				</ul>
			</div>
			<div>
				<a href="{% url 'main:product' 290 %}"><img src="{% static 'img/s372x223_lelingrad.webp' %}" alt="bunner1"></a>
				<h2>Ленинград</h2>
				<ul >
					<li><a href="#">14 июня</a></li>
					<li><a href="#">Открытие Арена</a></li>
				</ul>
			</div>
		</div>
		<h1 class="page-title">Подборки</h1>
		<div class="selections">
			<div>
				<a href="#"><img src="{% static 'img/bunners/big.webp' %}" alt=""></a>
				<h2>Lorem ipsum.</h2>
				<p>12 событий</p>
			</div>
			<div>
				<a href="#"><img src="{% static 'img/bunners/big.webp' %}" alt=""></a>
				<h2>Lorem ipsum.</h2>
				<p>12 событий</p>
			</div>
			<div>
				<a href="#"><img src="{% static 'img/bunners/big.webp' %}" alt=""></a>
				<h2>Lorem ipsum.</h2>
				<p>12 событий</p>
			</div>
			<div>
				<a href="#"><img src="{% static 'img/bunners/big.webp' %}" alt=""></a>
				<h2>Lorem ipsum.</h2>
				<p>12 событий</p>
			</div>
			<div>
				<a href="#"><img src="{% static 'img/bunners/big.webp' %}" alt=""></a>
				<h2>Lorem ipsum.</h2>
				<p>12 событий</p>
			</div>
			<div>
				<a href="#"><img src="{% static 'img/bunners/big.webp' %}" alt=""></a>
				<h2>Lorem ipsum.</h2>
				<p>12 событий</p>
			</div>
			<a class="else" href="#">Показать ещё</a>
		</div>
		</div>
	</div>
{% endblock %}
