{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    <div class="page-content">
        <h1 class="page-title first-title">Афиша событий в Москве</h1>
        <div>
            {% include 'mainapp/includes/inc_date_menu.html' %}
        </div>
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in promo_events %}
                    <li data-target="#carouselExampleCaptions" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active">{% endif %}</li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner" style="overflow: hidden; max-height: 452px;">
                    {% for event in promo_events %}
                    {% if forloop.first %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}
                            <img src="{{ event.get_avatar }}" class="d-block w-100" alt="first_bunner">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ event.name }}</h5>
                                <p>{{ event.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="event-category">
            <h1 class="page-title">События в ближайшие дни</h1>
            <a href="{% url 'main:events' %}">
                <h2 class="view-all">Смотреть все ></h2>
            </a>
        </div>
        <div class="nearest">
            {% for event in first_filter %}
                <div class="event-preview">
                    <a href="{% url 'main:product' event.pk %}"><img src="{{ event.get_avatar }}" alt="bunner1"></a>
                    <h2>{{ event.name }}</h2>
                    <ul>
                        <!--                <li><a href="#">{{ event.date }}</a></li>-->
                        <li><a href="#">{{ event.get_location_name }}</a></li>
                        <li><a href="#">от {{ event.price }} руб.</a></li>

                    </ul>
                </div>
            {% endfor %}
        </div>
        <div class="event-category">
            <h1 class="page-title">Самые ожидаемые концерты</h1>
            <a href="{% url 'main:events' %}">
                <h2 class="view-all">Смотреть все ></h2>
            </a>
        </div>
        <div class="nearest">
            {% for event in expect_concert %}
                <div class="event-preview">
                    <a href="{% url 'main:product' event.pk %}"><img src="{{ event.get_avatar }}" alt="bunner1"></a>
                    <h2>{{ event.name }}</h2>
                    <ul>
                        <!--                <li><a href="#">{{ event.date }}</a></li>-->
                        <li><a href="#">{{ event.get_location_name }}</a></li>
                        <li><a href="#">от {{ event.price }} руб.</a></li>

                    </ul>
                </div>
            {% endfor %}
        </div>
        <h1 class="page-title">Подборки</h1>
        <div class="selections">
            {% for name, collection in collections.items %}
                {% if collection|length > 0 %}
                    <div>
                        <a href="{% url 'mainapp:collections' forloop.counter0 %}"><img
                                src="{{ collection.0.get_avatar }}" alt="">
                            <h2>{{ name }}</h2>
                            <p>{{ collection|length }} событий</p>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}

